<!DOCTYPE html>
<html lang="fr">
<head>

    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
   <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css">
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
	<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"></script>
	<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"></script>
	<script src="https://use.fontawesome.com/releases/v5.0.8/js/all.js"></script>
    <title>شلبة </title>
 
    <link rel="stylesheet" href="style.css">
    <link rel="icon" type="image/png" href="/chilba.png">
    
</head>
<body>
    <div class="wrap">
       {{>home/navbar}}
  
  
     {{>home/acceuil}}
  
  </div>
<div class="container-fluid">
{{{body}}}
</div>


{{!-- <!--instagram-->
<div id="instagram">
    
    <center>
    <img src="in.png" alt="..." class="t">
<div class="r">
    <h2>Top 6 hashtag on INSTAGRAM</h2>
</center>
    <br>
<div class="container" >
    <div class="row" id="bd">
  <div class="col">
    <div class="card">
      <div class="card-body">
        <h5 class="card-title">Try Other</h5>
        <h6 class="card-subtitle mb-2 text-muted">Bootstrap 4.0.0 Snippet by pradeep330</h6>
        <p class="card-text">You can also try different version of Bootstrap V4 side menu. Click below link to view all Bootstrap Menu versions.</p>
        <a href="https://bootsnipp.com/pradeep330" class="card-link">link</a>
        <a href="http://websitedesigntamilnadu.com" class="card-link">Another link</a>
      </div>
    </div>
  </div>
  <div class="col">
    <div class="card">
      <div class="card-body">
        <h5 class="card-title">Try Other</h5>
        <h6 class="card-subtitle mb-2 text-muted">Bootstrap 4.0.0 Snippet by pradeep330</h6>
        <p class="card-text">You can also try different version of Bootstrap V4 side menu. Click below link to view all Bootstrap Menu versions.</p>
        <a href="https://bootsnipp.com/pradeep330" class="card-link">link</a>
        <a href="http://websitedesigntamilnadu.com" class="card-link">Another link</a>
      </div>
    </div>
  </div>
  <div class="col">
    <div class="card">
      <div class="card-body">
        <h5 class="card-title">Try Other</h5>
        <h6 class="card-subtitle mb-2 text-muted">Bootstrap 4.0.0 Snippet by pradeep330</h6>
        <p class="card-text">You can also try different version of Bootstrap V4 side menu. Click below link to view all Bootstrap Menu versions.</p>
        <a href="https://bootsnipp.com/pradeep330" class="card-link">link</a>
        <a href="http://websitedesigntamilnadu.com" class="card-link">Another link</a>
      </div>
    </div>
  </div>
</div>
<div class="container" >
    <div class="row" id="bd">
  <div class="col">
    <div class="card">
      <div class="card-body">
        <h5 class="card-title">Try Other</h5>
        <h6 class="card-subtitle mb-2 text-muted">Bootstrap 4.0.0 Snippet by pradeep330</h6>
        <p class="card-text">You can also try different version of Bootstrap V4 side menu. Click below link to view all Bootstrap Menu versions.</p>
        <a href="https://bootsnipp.com/pradeep330" class="card-link">link</a>
        <a href="http://websitedesigntamilnadu.com" class="card-link">Another link</a>
      </div>
    </div>
  </div>
  <div class="col">
    <div class="card">
      <div class="card-body">
        <h5 class="card-title">Try Other</h5>
        <h6 class="card-subtitle mb-2 text-muted">Bootstrap 4.0.0 Snippet by pradeep330</h6>
        <p class="card-text">You can also try different version of Bootstrap V4 side menu. Click below link to view all Bootstrap Menu versions.</p>
        <a href="https://bootsnipp.com/pradeep330" class="card-link">link</a>
        <a href="http://websitedesigntamilnadu.com" class="card-link">Another link</a>
      </div>
    </div>
  </div>
  <div class="col">
    <div class="card">
      <div class="card-body">
        <h5 class="card-title">Try Other</h5>
        <h6 class="card-subtitle mb-2 text-muted">Bootstrap 4.0.0 Snippet by pradeep330</h6>
        <p class="card-text">You can also try different version of Bootstrap V4 side menu. Click below link to view all Bootstrap Menu versions.</p>
        <a href="https://bootsnipp.com/pradeep330" class="card-link">link</a>
        <a href="http://websitedesigntamilnadu.com" class="card-link">Another link</a>
      </div>
    </div>
  </div>
</div>
</div>
</div>
<br>
<br>
<br>
<br>


<!--facebook-->
<div id="FACEBOOK">
    
    <center>
    <img src="fb.png" alt="..." class="t">
<div class="r">
    <h2>Top 6 hashtag on Facebook </h2>
</center>
    <br>
<div class="container" >
    <div class="row" id="bd">
  <div class="col">
    <div class="card">
      <div class="card-body">
        <h5 class="card-title">Try Other</h5>
        <h6 class="card-subtitle mb-2 text-muted">Bootstrap 4.0.0 Snippet by pradeep330</h6>
        <p class="card-text">You can also try different version of Bootstrap V4 side menu. Click below link to view all Bootstrap Menu versions.</p>
        <a href="https://bootsnipp.com/pradeep330" class="card-link">link</a>
        <a href="http://websitedesigntamilnadu.com" class="card-link">Another link</a>
      </div>
    </div>
  </div>
  <div class="col">
    <div class="card">
      <div class="card-body">
        <h5 class="card-title">Try Other</h5>
        <h6 class="card-subtitle mb-2 text-muted">Bootstrap 4.0.0 Snippet by pradeep330</h6>
        <p class="card-text">You can also try different version of Bootstrap V4 side menu. Click below link to view all Bootstrap Menu versions.</p>
        <a href="https://bootsnipp.com/pradeep330" class="card-link">link</a>
        <a href="http://websitedesigntamilnadu.com" class="card-link">Another link</a>
      </div>
    </div>
  </div>
  <div class="col">
    <div class="card">
      <div class="card-body">
        <h5 class="card-title">Try Other</h5>
        <h6 class="card-subtitle mb-2 text-muted">Bootstrap 4.0.0 Snippet by pradeep330</h6>
        <p class="card-text">You can also try different version of Bootstrap V4 side menu. Click below link to view all Bootstrap Menu versions.</p>
        <a href="https://bootsnipp.com/pradeep330" class="card-link">link</a>
        <a href="http://websitedesigntamilnadu.com" class="card-link">Another link</a>
      </div>
    </div>
  </div>
</div>
<div class="container" >
    <div class="row" id="bd">
  <div class="col">
    <div class="card">
      <div class="card-body">
        <h5 class="card-title">Try Other</h5>
        <h6 class="card-subtitle mb-2 text-muted">Bootstrap 4.0.0 Snippet by pradeep330</h6>
        <p class="card-text">You can also try different version of Bootstrap V4 side menu. Click below link to view all Bootstrap Menu versions.</p>
        <a href="https://bootsnipp.com/pradeep330" class="card-link">link</a>
        <a href="http://websitedesigntamilnadu.com" class="card-link">Another link</a>
      </div>
    </div>
  </div>
  <div class="col">
    <div class="card">
      <div class="card-body">
        <h5 class="card-title">Try Other</h5>
        <h6 class="card-subtitle mb-2 text-muted">Bootstrap 4.0.0 Snippet by pradeep330</h6>
        <p class="card-text">You can also try different version of Bootstrap V4 side menu. Click below link to view all Bootstrap Menu versions.</p>
        <a href="https://bootsnipp.com/pradeep330" class="card-link">link</a>
        <a href="http://websitedesigntamilnadu.com" class="card-link">Another link</a>
      </div>
    </div>
  </div>
  <div class="col">
    <div class="card">
      <div class="card-body">
        <h5 class="card-title">Try Other</h5>
        <h6 class="card-subtitle mb-2 text-muted">Bootstrap 4.0.0 Snippet by pradeep330</h6>
        <p class="card-text">You can also try different version of Bootstrap V4 side menu. Click below link to view all Bootstrap Menu versions.</p>
        <a href="https://bootsnipp.com/pradeep330" class="card-link">link</a>
        <a href="http://websitedesigntamilnadu.com" class="card-link">Another link</a>
      </div>
    </div>
  </div>
</div>
</div>
</div>
</div> --}}
    </body>
</html>