 <center>
      <section id="hero">
        <div class="hero-container">
            <br>
            <br>
            <br>
            <br>
            <br>
            <br>
            <br>
          <h1>WELCOME TO 'شلبة'</h1>
          <h2 style="color:magenta">All trends all around the world in one click!</h2>
        </div>
      </section><!-- #hero -->
    </center>
      <div class="container">
          <br>
          <br>

          
          
          <br>
          <br>
          <br>
        <center>
          <div class="row">
              
              <div class="col-4">
                <a href="#twitter"><button id="hmm" type="button" class="btn btn-info">Twitter</button>
                </a></div>
              <div class="col-4">
                <a href="#GOOGLE"><button id="hmm" type="button" class="btn btn-info">GOOGLE</button>
              </a></div>
           
              <div class="col-4">
                <a href="#youtube"><button id="hmm" type="button" class="btn btn-info">Youtube</button>
              </div></a>
          
            </div>  
        </center>
      </div>